.thanks {
  margin: 2.4rem;
  background-image: $radial;
  padding: 4.5rem 4rem 4.5rem 3.2rem;
  border-radius: 3rem;
  max-width: 41.2rem;

  display: none;
  flex-direction: column;
  align-items: center;

  position: absolute;
  z-index: 10;

  &.active {
    display: flex;
  }

  .selected {
    display: block;
    background-color: $gray-dark;
    padding: .4rem 2rem;
    border-radius: 2.2rem;

    @include type-1(p1, desktop);
    color: $orange;

    margin-top: 3.2rem;
    margin-bottom: 3.2rem;

    @include responsive(xs) {
      @include type-1(p1, mobile);
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }

  h1 {
    @include type-1(h1, desktop);
    color: $white;
    margin-bottom: .7rem;

    @include responsive(xs) {
      @include type-1(h1, mobile);
      margin-bottom: 1rem;
    }
  }

  p {
    @include type-1(p1, desktop);
    color: $gray-light;
    text-align: center;

    @include responsive(xs) {
      @include type-1(p1, mobile);
    }
  }
}
